<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df37ec336e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/index/scenario-window.css">
    <title>Scenario window</title>
</head>
<body>
    <div id="panel">
        
        <header id="scenario-name">
            <a>Skenaarion nimi</a>
        </header>
        <br>
        <main id="icons">

            <section class="icon-box moveable_window">
                <h2><a><i class="fa-solid fa-people-line"></i></a></h2>
                <p><a>Pelaajat</a></p>
            </section>            
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-person"></i></a></h2>
                <p><a>NPC:t</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-dragon"></i></a></h2>
                <p><a>Hirviöt</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-book-open"></i></a></h2>
                <p><a>Kuvaus</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-book"></i></a></h2>
                <p><a>Tausta-
                    tiedot</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-map-location-dot"></i></a></h2>
                <p><a>Kartta</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-signs-post"></i></a></h2>
                <p><a>Paikat</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-calendar-days"></i></a></h2>
                <p><a>Tapah-
                    tumat</a></p>
            </section>
            <br>
            <section class="icon-box">
                <h2><a><i class="fa-solid fa-paperclip"></i></a></h2>
                <p><a>Liitteet</a></p>
            </section>
            <br>
            <section class="icon-box" id="back">
                <h2><a><i class="fa-solid fa-dungeon"></i></a></h2>
                <p><a>Takaisin kiltaan</a></p>
            </section>

        </main>
    </div>
    <script src="/resources/js/scenario-window.js"></script>
</body>
</html>