@font-face {
    font-family: Demon Slayer;
    src: url('../../fonts/DragonSlayer-2Oe7d.ttf');
}

:root {
    --main: #82c5ff;
    --background: #120049;
    --text: #000000;
    --border: #2A50A1;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Demon Slayer, sans-serif;
    background-color: var(--background);
    overflow: hidden;
}

#scenario-name {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 20px;
}

#panel {
    background-color: var(--main);
    height: 100vh;
    width: 180px;
    overflow-y:scroll;
    box-shadow: 0 0 10px rgba(24, 0, 72, 0.5);
}

.placeholder_for_404 {
    width: 24px;
    height: fit-content;
}

.icon-box, .exit-box {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    text-align: center;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(64, 22, 149, 0.5);
    border-radius: 20px;
    height: fit-content;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 5px;
}

.icon-box a, .exit-box a {
    color: black;
    text-decoration: none;
}

.icon-box:hover, .exit-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#exit-box-mobile {
    width: 100%;
    text-align: center;
}

.full_image_info {
    background-color: lightgray;
}

.full_image_info p {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

#exit-box-mobile a {
    text-decoration: none;
    color: white;
}

main {
    height: 100vh;
    width: calc(100vw - 150px);
    background-image:url("textures/grid.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

#mobile_version {
    display: none;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.mobile_window {
    display: block;
}

.window_content {
    background-color: white;
    resize: both;
    overflow: auto;
    min-height: 200px;
    min-width: 200px;
    max-height: 800px;
    max-width: 800px;
}

@media screen and (max-width: 1000px) {
    #mobile_version {
        display: block;
    }
    main {
        display: none;
    }
    #panel {
        display: none;
    }
    .window_content {
        resize: vertical;
        max-width: none;
    }
}

.scenario_name {
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

.attachment_icon, .image_error_icon {
    margin: 0;
}

.attachment_icon img, .image_error_icon {
    width: 100%;
    box-shadow: 2px 2px black;
    height: fit-content;
}

.image_error_icon {
    box-shadow: 0px 0px black;
}

.full_image {
    width: 100%;
    height: 100%;
}

.full_image_icon {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.full_image_icon img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.image_grid {
    display: grid;
    justify-content: start;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    gap: 5px;
}

.no-margin {
    margin: 0;
}

.display_block {
    display: block;
}

.error_page {
    display: block;
    background-color: white;
}

.move_window {
    width: calc(100% - 60px);
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    cursor: move;
}

.hide_window {
    height: 30px;
    width: 30px;
    background-color: lightblue;
}

.close_window, .close_image {
    height: 30px;
    width: 30px;
    background-color: crimson;
}

.hide_window, .close_window, .close_image {
    cursor: pointer;
}

.hide_window i, .close_window i, .move_window i, .close_image i  {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.moveable_window {
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 20px black;
}

.window_info {
    display: flex;
    background-image: linear-gradient(rgb(190, 190, 190), grey);
}


.misc_notif {
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.character_box, .add_character_box, #add_character {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 5px);
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.image_box, .image_box_error {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}

.image_box_error {
    background-color: rgb(255, 80, 80);
    cursor: not-allowed;
    box-shadow: 2px 2px black;
}

.image_error_icon {
    color: white;
    font-size: 22px;
}

.white_icon_tfpx {
    font-size: 24px;
    color: white;
}

.character_box_error {
    cursor: pointer;
    background-color: rgb(255, 80, 80);
    color: white;
    border-radius: 15px;
    width: 90%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.character_box:hover, .add_character_box:hover, #add_character:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.character_info * {
    margin: 0;
    font-size: 16px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    word-wrap: break-word;
}


.info_plain_text, .image_name {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info_plain_text * {
    margin: 0;
}

.taustatiedot {
    padding: 5px;
}

.taustatiedot * {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1px;
}

.taustatiedot blockquote {
    width: 100%;
}

.image_name {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info_name {
    text-align: left;
}

.monster_info_flexbox {
    display: flex;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.monster_info_flexbox p {
    display: inline-block;
    width: fit-content;
}

.monster_info_flexbox i {
    width: 18px;
    height: 18px;
    font-size: 16px;
    text-align: center;
}

.info_button_name {
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 16px;
    font-size: 16px;
}

.info_area {
    display: flex;
}

blockquote {
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    border: 4px double black;
}
