@font-face {
    font-family: Demon Slayer;
    src: url('../../fonts/DragonSlayer-2Oe7d.ttf');
}

:root {
    --main: #51A5C5;
    --background: #86b2c4;
    --text: #000000;
    --border: #2A50A1;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Demon Slayer, sans-serif;
    background-color: var(--background);
}

#scenario-name {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 20px;
}

#panel {
    background-color: var(--main);
    height: 100vh;
    width: 180px;
    overflow-y:scroll;
    border-right: 2px solid var(--border);
}

.placeholder_for_404 {
    width: 24px;
    height: fit-content;
}

.icon-box, .exit-box {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 2px;
}

.icon-box a, .exit-box a {
    color: black; 
    text-decoration: none;
}

.icon-box:hover, .exit-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main {
    height: 100vh;
    width: calc(100vw - 150px);
    background-image:url("textures/grid.png");
    background-repeat: repeat;
}

.scenario_name {
    text-align: center;
}

.attachment_icon {
    border-radius: 15px; 
    width: 100%; 
    height: fit-content;
}

.no-margin {
    margin: 0;
}

.display_block {
    display: block;
}

.window_name {
    width: 100%; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    vertical-align: middle;
    margin: 0;
}

.move_window {
    height: 30px; 
    width: 30px; 
    background-color: green;
    cursor: move;
}

.hide_window {
    height: 30px; 
    width: 30px; 
    background-color: lightblue;
}

.close_window {
    height: 30px; 
    width: 30px; 
    background-color: crimson;
}

.hide_window, .close_window {
    cursor: pointer;
}

.hide_window i, .close_window i, .move_window i  {
    font-size: 30px; 
    text-align: center;
    cursor: pointer;
}

.moveable_window {
    width: fit-content; 
    height: fit-content;
}

.window_info {
    display: flex;  
    background-color: grey;
}

.window_content {
    background-color: white;
    resize: both;
    overflow: auto;
    min-height: 200px;
    min-width: 200px;
    max-height: 600px;
    max-width: 600px;
    border: 2px solid grey;
}

.misc_notif {
    color: grey;
}

.character_box, .add_character_box, #add_character {
    border: 2px solid grey;
    border-radius: 15px; 
    width: 90%; 
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.character_box:hover, .add_character_box:hover, #add_character:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.character_info * {
    margin: 0;
}

.info_name {
    text-align: left;
}

.monster_info_flexbox {
    display: flex;
}

.monster_info_icon {
    width: 24px; 
    height: 100%;
}

.info_button_icon {
    margin: 0;  
    margin-top: 5px; 
    margin-bottom: 5px;
    font-size: 24px;
}

.info_button_name {
    margin: 0; 
    text-overflow: ellipsis; 
    overflow: hidden; 
}
