* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#page-header {
    background-color: lightgray;
	border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-size: 30px;
	font-style: italic;
}

#search {
	padding: 5px;
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 10px;
}

#search::placeholder {
    color: black;
}

#dropdown {
	padding: 5px;
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
}

#page-header a {
	text-decoration: none;
	color: black;
}

main#adventure-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.adventure-box {
	width: 32%;
    border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
    background-color: lightgray;
	border: 2px solid black;
}

.adventure-box .adventure-stats {
	font-weight: bold;
}

#scenario-title {
	text-align: center;
}

aside.background-info {
	border: 4px outset black;
	background-color: lightgray;
	padding: 0px 10px;
	margin-bottom: 10px;
}

.narrative {
	border: 4px double black;
	background-color: lightgray;
	padding: 0px 10px;
}

#description, #intro, #scenario, #monsters, #characters {
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}
