@font-face {
    font-family: Demon Slayer;
    src: url('../../fonts/DragonSlayer-2Oe7d.ttf');
}

:root {
    --main: #51A5C5;
    --background: #51A5C5;
    --text: #000000;
    --border: #2A50A1;
}

html {
    scrollbar-width: none;
}

body {
    font-family: Demon Slayer, sans-serif;
    background-color: var(--background);
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Demon Slayer, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    border-radius: 4px;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--main);
    border-radius: 5px;
    border: 2px solid var(--border);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    background-color: transparent;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--text);
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 4px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.btn {
    background-color: var(--main);
    border: 0;
    border-radius: 12px;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    transition: ease-in-out 0.3s;
    border: 1px solid var(--border);
    margin-bottom: 10px;
}

.btn:hover {
    color: #ffffff;
    background-color: var(--background);
    border: 1px solid var(--border);
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 8px;
    outline: none;
    transition: background-color 0.4s;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
}

label:hover input[type="checkbox"] {
    border-color: #007bff;
}

label span {
    font-size: 14px;
}
