@font-face {
    font-family: Demon Slayer;
    src: url('../fonts/DragonSlayer-2Oe7d.ttf');
}

:root {
    --main: #51A5C5;
    --background: #51A5C5;
    --text: #000000;
    --border: #2A50A1;
}

html {
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: black;

}

body {
    font-family: Demon Slayer, sans-serif;
    background-color: var(--background);
}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#page-header {
    background-color: var(--main);
	border: 2px solid var(--border);
    color: var(--text);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-size: 30px;
	font-style: italic;
}

.tf_px_icon {
    font-size: 24px
}

#sort_form {
    display: flex;
}

#sort_form input, #sort_form select {
    width: 23%;
    margin-right: 2px;
}

.list_after_login {
    margin: 0; 
    height: 100%;
}

.list_after_login .login_link {
    text-align: center;
}

@media screen and (max-width: 830px) {
    #page-header {
        display: block;
        text-align: center;
    }
    .guild_link {
        text-align: center;
    }
}


h1 {
	font-size: 35px;
}

#search {
	padding: 5px;
	background-color: var(--main);
	border: 2px solid var(--border);
	border-radius: 10px;
}

#search::placeholder {
    color: var(--text);
}

.dropdown {
    outline: none;
    border: none;
    appearance: none;
	padding: 5px;
	background-color: var(--main);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232A50A1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right;
	border: 2px solid var(--border);
	border-radius: 10px;
    width: 180px;
	text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#page-header a {
	text-decoration: none;
	color: var(--text);
}

main#adventure-list {
	display: grid;
	justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
}

.ad_box_below_section {
    height: 55%;
    display: block;
}

.adventure-box {
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: fit-content;
    background-color: lightgray;
    border: 2px solid black;
    transition: box-shadow 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.world_info {
    text-align: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adventure-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.adventure-box .adventure-stats {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text);
}

.scenario_req, .adventure-stats {
    width: 100%; 
    height: fit-content; 
    word-wrap: break-word;
}

.adventure-box h2 {
    height: fit-content; 
    word-wrap: break-word;
}

.adventure-desc {
    margin-top: 10px;
    height: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    color: var(--text);
}

#scenario-title {
	text-align: center;
}

aside.background-info {
	border: 4px outset var(--border);
	background-color: var(--main);
	padding: 0px 10px;
	margin-bottom: 10px;
}

.narrative {
	border: 4px double var(--border);
	background-color: var(--main);
	padding: 0px 10px;
}

#description, #intro, #scenario, #monsters, #characters {
	border-bottom: 2px solid var(--border);
	margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .adventure-box {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #page-header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .adventure-box {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #page-header {
        display: flex;
        flex-direction: column;
    }
}